*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* 
body{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 150px auto;
    width: 100vh;
    background-color: rgb(96, 165, 165);
} */
body{
    background-color: rgb(255, 255, 255);
}
.h1-principal {
    word-break: break-word;
    font-size: 24px;
    margin: 1.1em;
    text-align: center;
}

.container {
    
    max-width: 600px;
    margin: 150px auto;
    padding: 85px;
}